.nav{
    background-color: rgb(40, 37, 37);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
    gap: 5px;
}
.nav a{
    color: white;
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 50px;
    padding: 8px;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
}
.titlu{
    font-size:40px;
}
.nav li:hover{
    background-color: gray;
}
