.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.login {
  margin: auto;
  margin-top: 1em;
  width: 400px;
  height: 250px;
  background-color: hsla(177, 70%, 41%, 0.75);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
}


.login input[type="text"]{
  
  display: block;
  margin:  10px;
  text-align: center;
  border: 3px solid blue;
  padding: 5px;
  width: 130px;
  border-radius: 24px;

}
.ButoaneLogin{
  margin:auto;
  width: 350px;
  height: 70px;
  align-items: center;
  flex-direction: row;
  display: inline-block;
  
  
}
.ButoaneLogin button{
  
  margin:  15px;
  text-align: center;
  border: 3px solid crimson;
  padding: 5px;
  width: 130px;
  border-radius: 24px;
  
}





.signin {
  margin: auto;
  margin-top: 1em;
  width: 400px;
  height: 250px;
  background-color: hsla(177, 70%, 41%, 0.75);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
}
.signin input[type="text"]{
  display: block;
  margin:  10px;
  text-align: center;
  border: 3px solid blue;
  padding: 5px;
  width: 130px;
  border-radius: 24px;
}

.signin button{
  
  margin:  15px;
  text-align: center;
  border: 3px solid crimson;
  padding: 5px;
  width: 130px;
  border-radius: 24px;
  
}
.profil{
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  width: 600px;
  height: 250px;
  align-items: center;
  flex-direction: column;
}
.profilgrup {
  margin: auto;
  margin-top: 1em;
  width: 300px;
  height: 250px;
  background-color: hsla(177, 70%, 41%, 0.75);
  padding: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  
  
}

.tabelgrupprofil{
  /*background-color: red;*/
  border-collapse: collapse;
  width: 300px;
}
td,th{
  border: 1px solid black;
  padding: 8px;
}

.profilwishlists{
  margin: auto;
  margin-top: 1em;
  width: 300px;
  height: 250px;
  background-color: hsla(177, 70%, 41%, 0.75);
  padding: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tabelwishlistsprofil{
  /*background-color: red;*/
  border-collapse: collapse;
  width: 300px;
}
